@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Fjalla One', sans-serif;
}

header{
    background-color: #067BC2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    height: 10vh;
}

h1 > a{
    text-decoration: none;
    color: white;
}

nav.account{
    margin: 1vw;
    border: solid #067BC2;
    border-width: 3px;
    font-size: 100%;
    width: 98vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content{
    margin: auto;
}

footer{
    height: 10vh;
    background-color: #067BC2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.errorBlock{
    text-align: center;
}

form.registerForm{
    text-align: center;
    margin: 30px;
}

.registerForm > input{
    margin-bottom: 20px;
}

form.loginForm{
    text-align: center;
    margin: 30px;
}

.loginForm > input{
    margin-bottom: 20px;
}

.needConnexion{
    text-align: center;
    font-size: 300%;
}
div.addfile{
    width: 50vw;
    border: solid #067BC2;
    border-width: 3px;
    text-align: center;
    line-height: 200%;
    margin-left: 25vw;
    margin-bottom: 10px;
    margin-top: 10px;
}

div.allfiles{
    border: solid #067BC2;
    border-width: 3px;
    width: 98vw;
    min-height: 200px;
    margin-left: 1vw;
}

div.file{
    margin: 0.5%;
    height: 100%;
    font-size: 85%;
    display: inline;
}

div.line{
    border: solid #067BC2;
    border-width: 1.5px;
}

a.download{
    margin: 2px;
    float: left;
}

span.rename{
    float: right;
    margin: 2px;
    margin-left: 20px;
}

a.delete{
    float: right;
    margin: 2px;
    margin-left: 20px;
}

.hide{
    visibility: hidden;
}

.popup{
    border: solid #067BC2;
    border-width: 3px;
    text-align: center;
    line-height: 2;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    height: 25vh;
    width: 25vw;
    margin-left: 37.5vw;
    top: 37.5vh;
    z-index: 6;
}

.overlay{
    position: fixed;
    background: rgba(0,0,0,0.6);
    z-index: 5;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.popup > form {

}

div.error{
    color: red;
    text-align: center;
}